<div style="width:800px; margin:0 auto;">
    <a style="width:800px; margin:0 auto;" routerLink="/pages/funcionario/cadastrar">Cadastrar Funcionário</a>
    <br>
    <a style="width:800px; margin:0 auto;" routerLink="/pages/funcionario/listar">Listar Funcionários</a>
    <br>
    <a style="width:800px; margin:0 auto;" routerLink="/pages/folha/cadastrar">Cadastrar Folha</a>
    <br>
    <a style="width:800px; margin:0 auto;" routerLink="/pages/folha/listar">Listar Folhas</a>
</div>
<br>

<router-outlet>
    <!-- É aqui que os componentes vão entrar -->
</router-outlet>